.headerDesign {

    height: 8em;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(255, 0, 0);
}


.linkDesign {

    color: white;
    font-weight: bold;
    transition: 0.3s;

    cursor: pointer;

}

.linkDesign:hover {

    color: grey;
    transition: 0.3s;
}